html, body{
	height: 100%;
	font-family: 'Quattrocento', serif;
}

.top_image{
	height: 250px;
}

.display_results{
	height: 200px;
	padding-top: 20px;
	font-size: 145%;
}

#word_to_guess{
	padding: 40px;
	font-size: 125%;
}