html, body{
	height: 100%;
	font-family: 'Quattrocento', serif;
}

.title{
	margin: 30px;
}

.top_image{
	height: 250px;
}

.instructions{
	padding: 30px;
	font-size: 125%;
}

.display_results{
	height: 240px;
	margin-bottom: 50px;
	font-size: 145%;
}

#word_to_guess{
	padding: 40px;
	font-size: 125%;
}
